@charset "UTF-8";

body {
    background-image: url('../imagens/gradiente001.jpg');
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.conteudo {
    border-radius: 10px;
    width: 200px;
    height: 200px; 
}

#bloco1 {
    background: linear-gradient(to right, orange, darkgreen);
    box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.742);
}

#bloco2 {
    background: radial-gradient(orange, darkgreen);
    box-shadow: -20px -20px 5px rgba(0, 0, 0, 0.74);
}