@charset "UTF-8";

header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
}

.topnav {
    overflow: hidden;
    background-color: orange;
}

.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: darkgoldenrod;
    color: #f2f2f2;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100vw;
    }
}

@media screen and (min-width: 600px) {
    .column {
        float: left;
    }
    
    .column.side {
        width: 25%;
    }
    
    .column.middle {
        width: 50%;
    }
}

footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
}